@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


:root {
  --background: #f9e7e4;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9e7e4; /* Still using the same background in dark mode */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-user-icon {
  position: relative;
}

.user-marker-pin {
  position: relative;
  width: 30px;
  height: 30px;
}

.leaflet-bottom {
  display: none !important;
}

.leaflet-control-zoom {
  display: none !important;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.user-marker-icon {
  background-color: #3B82F6; /* Tailwind blue-500 */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 2;
}

.user-marker-pulse {
  background-color: rgba(59, 130, 246, 0.4); /* Tailwind blue-500 at opacity */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
